@media (max-width: 600px) {
    .phone__wrapper {
        display: none;
    }

    .navbar__links {
        display: none;
    }

    .navbar {
        justify-content: space-between;
    }

    .sign-in-btn {
        display: none;
    }
}

@media (min-width: 600px) {
    .sidebar-btn {
        display: none;
    }
    
}

@media (min-width: 800px) {
    .main {
        padding-left: 5rem;
        padding-right: 5rem;
    }
}